@use "./variables.scss" as *;
@use "./responsive.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Inter", sans-serif;
  background-color: $main-bg;
  color: $main-color;
  min-height: 100vh;
}

.container {
  display: flex;
  min-width: 0;
}

.menuContainer {
  width: 250px;
  flex-shrink: 0;
  padding: 5px 20px;
  border-right: 2px solid $soft-bg;

  @include lg{
    width: max-content;
  }
}

.contentContainer {
  padding: 5px 20px;
  flex: 1;
  min-width: 0;
}
