.dataTable{
    width: 100%;
    overflow-x: auto;

    .dataGrid{
      min-width: 100%;
      background: white;
      padding: 20px;
  
      .MuiDataGrid-toolbarContainer{
        flex-direction: row-reverse;
        flex-wrap: wrap;
        gap: 12px;
      }
  
      img{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
      }
  
      .action{
        display: flex;
        gap: 15px;
  
        img{
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
      }
    }
  }
